@import '../../assets/color';

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  visibility: hidden;

  & {
    transition: visibility 0.3s, opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .modal-content {
    width: 420px;
    height: auto;
    padding: 20px;
    display: flex;
    margin: 15px auto;
    border-radius: 6px;
    flex-direction: column;

    & {
      background: #fff;
    }

    .close-modal {
      align-self: flex-end;
      font: bold 0.7em Poppins, sans-serif;
      opacity: 0.3;
      cursor: pointer;
    }

    .modal-header, .modal-text, .agree-button {
      font: normal 1.1em Poppins, sans-serif;
    }

    .modal-header {
      align-self: center;
      text-transform: uppercase;

      & {
        color: $purple;
        font-weight: 600;
      }
    }

    .modal-text {
      justify-content: flex-start;
      padding-bottom: 10px;
      border-bottom: 1px dashed #000;
    }

    .agree-list {
      width: 300px;
      margin: 0 auto;

      .agree-item {
        margin-bottom: 10px;

        .agree {
          width: 20px;
          height: 20px;
          vertical-align: middle;

          & {
            background: #fff;
          }
        }

        .agree-label {
          font: 300 0.85em Poppins, sans-serif;
          cursor: pointer;
        }
      }
    }
  }
}
